*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #d7d6d6;
    color: #333;
    line-height: 1.6;
}
header{
    background: #eeeeee;
    color: #020202;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
header > img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
header > h1 {
    font-size: 32px;
    font-weight: 400;
}
form{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px;
    margin-top: 80px;
    gap: 12px;
}
input[type="text"]{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
form > button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px rgba(0, 123, 255, 0.4);
}
form > button:hover {
    background-color: #0056b3;

}